@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	font-family: ubuntu;
	background-color: black;
}

.row{
	width: 100% !important;
    padding: 0px;
    margin: 0px;
}
.featured-images{
	padding: 0px;
	margin: 0px;
	background-size: cover;
	background-position: center;
	height: 95%;
}

