


#notifications{
	display: block;
    padding: 9.6px 12px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #fff;
    color: #333333;
}

#notifications:hover{
    background-color: #2E2028;
    color: white;
}
#categories{
    display: block;
    padding: 9.6px 12px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #fff;
    color: #333333;
}

#categories:hover{
    background-color: #2E2028;
    color: white;
}

.navbar{
    margin-bottom: 0px !important;
    background-color: #2E2028;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a{

    color: white !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{

    background-color: #191216;
}
.col-xs-2.notif{
    padding: 0;
}

@media only screen and (min-width: 768px){

  .navbar-nav>li>.dropdown-menu{
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    }
    #notifications{
        min-width: 20vw;
    }
    #categories{
        min-width: 10vw;
    }
}