  body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vmax;
    min-height: 100vmax;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
body{
  height: 100vh !important;
}
  
  .overlay{

    background-color: rgba(232, 75, 23, 0.4);
    -webkit-animation-name: color_transition; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: color_transition;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 100vh;
  }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color_transition {
    from {background-color: rgba(232, 75, 23, 0.4);}
    to {background-color: rgba(0,232,127,0.3);}
    to {background-color: rgba(0,67,232,0.3);}
    to {background-color: rgba(146,0,232,0.3);}
}

/* Standard syntax */
@keyframes color_transition {
    from {background-color: rgba(0,232,127, 0.4);}
    to {background-color: rgba(232,206,23,0.3);}
    to {background-color: rgba(0,67,232,0.3);}
    to {background-color: rgba(146,0,232,0.3);}
}
.formholder{
  background-color: white;
  padding: 15px;
  vertical-align: center;
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
.btn{
  width: 100%;
}
.col-md-4{
    width: 100%;
}
.col-md-6{
    width: 100%;
}
label{
    text-align: left !important;
    color: #2E2028;
}
.btn-primary{

  background-color: #2E2028 !important; 
}
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: red
}