body{
    background-color: black;
    }
.wrapper{
  background: linear-gradient(to bottom right, rgba(201,95,141,0.3) , rgba(32,143,162,0.3));
  background-repeat: no-repeat;
  background-size: cover;
}
h3{
  color: white;
  text-align: center;
}
.profileSection{
  min-height: 80vh;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 5vh;
}
p{
  color: white;
}
h4{
  color: white;
}
.btn{
  margin-bottom: 5px;
  width: 100%;
}
.contain{
  margin: 10px;
  min-height: 50vh;
  max-height: 60vh;
  background-color: #363636;
  border-radius: 10px;
  margin-top: 5vh;

}
.col-sm-7{
  overflow-y: auto;
}


.col-sm-7::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.col-sm-7::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.col-sm-7::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}

.scrollableList::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollableList::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.scrollableList::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}
ul {
  list-style-type: none;
}
.history{
  background-color: grey;
  width: 90%;
  border-radius: 5px;
  height: 40px;
}
.thumbnail{
  height: 40px;
  width: 40px;
  display: inline;
  float: right;
  padding-right: 20px;
  background-size: cover;
}
.Mname{
  margin-left: 5px;
  font-size: 14px;
  margin-top: 10px;
  color: white;
  display: inline-block !important;
}
 .scrollableList{
    overflow-y: auto;
    max-height: 45vh;
    margin-bottom: 20px;
 }
 table{
  width: 100%;
 }