body{
	background-color: #121212;
}

#contain{
	background-color: #212121;
	padding: 20px;
	border-radius: 5px;
	color: #A1A1A1;
  margin-bottom: 50px;
}
h1{
	color: white;
	margin: 30px;
}
#cont {
    position: relative;
    z-index: 1;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(to bottom right, rgba(201,95,141,0.3) , rgba(32,143,162,0.3));
  min-height: 100vh;
}

#cont #back {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .08;
    width: 100%;
}
@media only screen and (min-width: 769px){

  #content{
    	width: 49%;
    	margin-right: 0px;
      text-align: left;
    }
  #content1{
    	width: 49%;
    	margin-left: 0px;
    	text-align: right;
    }
}